In [16]:
import tensorflow as tf
import pandas as pd
import numpy as np
import plotly

读取数据集

In [9]:
df_train = pd.read_csv("/Users/lyuguanlong/Github/CTR-Prediction/dataset/dac/train.txt",sep="\t",header= None)
df_test = pd.read_csv("/Users/lyuguanlong/Github/CTR-Prediction/dataset/dac/test.txt",sep="\t", header= None)

In [14]:
df_train[0].value_counts()

0    34095179
1    11745438
Name: 0, dtype: int64

In [15]:
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,NaN,29,50.0,5.0,7260.0,437.0,1.0,4.0,14.0,NaN,...,3486227d,1616f155,21ddcdc9,5840adea,2c277e62,NaN,423fab69,54c91918,9b3e8820,e75c9ae9
1,27.0,17,45.0,28.0,2.0,28.0,27.0,29.0,28.0,1.0,...,e5ba7672,b4abdd09,21ddcdc9,5840adea,36a7ab86,NaN,32c7478e,85e4d73f,010f6491,ee63dd9b
2,1.0,1,19.0,7.0,1.0,3.0,1.0,7.0,7.0,1.0,...,d4bb7bd8,bd17c3da,1d04f4a4,a458ea53,82bdc0bb,NaN,32c7478e,5bdcd9c4,010f6491,cca57dcc
3,4.0,1,NaN,6.0,1051.0,134.0,4.0,35.0,72.0,1.0,...,07c540c4,bdc06043,NaN,NaN,6dfd157c,ad3062eb,423fab69,ef089725,NaN,NaN
4,7.0,1,25.0,10.0,139.0,74.0,48.0,13.0,44.0,1.0,...,27c07bd6,395856b0,21ddcdc9,a458ea53,9c3eb598,ad3062eb,3a171ecb,c0b8dfd6,001f3601,7a2fb9af

In [11]:
print("Shape of Criteo train set: {}".format(df_train.shape))
print("Shape of Criteo test set: {}".format(df_test.shape))

Shape of Criteo train set: (45840617, 40)
Shape of Criteo test set: (6042135, 39)

切割数据集

In [21]:
# create a subset of criteo 

# 随机15,000条用于训练和评估
df_train_small = df_train.sample(20000)

保存criteo_small数据集

In [23]:
df_train_small[:15000].to_csv("../dataset/criteo_small/criteo_small_train.csv",encoding="utf-8")
df_train_small[15000:].to_csv("../dataset/criteo_small/criteo_small_test.csv",encoding="utf-8")